/* our work */
.box-work{
    background: #FCF9FF;
    /*box-shadow: 0px 0px 13px #DED6E8;*/
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 9px;
    position: relative;
    /* width: 350px; */
  }
.box-work img{
  height: 17vh;
}
  .text-box-work{
    line-height: 1.1;
    font-size: 13px;
    text-align: left;
  }
  .box-work h4{
    color: var(--primary-color1) !important;
    font-size: 16px;
  
  }
  .work-text {
    padding: 10px 0 30px 0;
    margin-left: 6px;

  }
  .btn-costume-two {
    border: 1px solid var(--primary-color2);
    background-color: var(--primary-color2);
    color: var(--neutral-color1);
    border-radius: 36.5px;
    padding: 6px 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .arrow-link{
    font-size: 30px;
    color: var(--primary-color1);
  }
  .arrow-link:hover{
    transform: scale(1.2);
  }